.tNavBar {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    font-size: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.tNavBar > div {
    width:33.33%
}
.tNavLogo {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
}
.tNavLogo > div {
    margin-left: 25%;
}


.tNavLogo + div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tNavLogo + div > div {
    margin-left: 5px;
    margin-right: 5px;
}
.tNavHome {
    color:#000839;
    font-weight: bold
}
.tNavLogo + div + div {
    display: flex;
    justify-content: right;
    align-items: center;
}
/* hover effects -----------*/

.tNavLogo + div > div:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*---- responsive code zone -------------------------------- */
@media screen and (max-width: 1035px) {
    .tNavBar  {
      height: 100px;
      width: 100px;
      border: solid red;
    }
}